

<div class=" container col-12 d-flex flex-row justify-content-between pr-2">
    <div class="title col-6">
      <h1>Kokomo-drinks </h1>
      <h2>cocktails to share</h2>
      <%= link_to "add yours!", new_cocktail_path(@cocktail), class: "btn btn-secondary btn-lg align-self-end my-2"%>
    </div>
  
  <div class="bottom justify-content-center ">
  <div class="cocktails d-flex flex-column justify-content-center">
    <!-- <div class="cards"> -->
      <% @cocktails.each_with_index do |cocktail, i|%>
        <%= link_to cocktail_path(cocktail), class: " box-link" do %>
            <div class="card-product">
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
              <div class="card-product-infos">
                <%=cocktail.name%>
                <p>Product description with <strong>relevant info</strong> only.</p>
              </div>
            </div>
        <% end %>
      <%end%>
    <!-- </div> -->
  </div>
</div>
</div>