// Import page-specific CSS files here.
@import "home";
@import "show";


.title{
  padding-top: 320px;
  padding-left: 160px;
  height: 70em;
  h1 {
    font-size: 72px;
    color: rgb(55, 223, 69);
  }
  h2 {
    color: white;
  }
  position: fixed;
}
.full_height {
  height: 100%;
  position: fixed;
  padding-top: 800px;
}
.sticky {
    position: relative ;
    color: white;
    &:hover {
      color: rgb(55, 223, 69);
      text-decoration: none;
    }
}
.containers {
  height: 100em;
  background-image:linear-gradient( rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url('coconut.jpg');
  background-repeat:no-repeat;
   background-size: cover;
  background-position: center;
  background-color: #464646;
  background-attachment: fixed;
}
.cocktails {
  overflow: scroll;

}
.drinks {
  // padding-top: 250px;
  // padding-left: 16px;
}