.ingredients {
  width: 600px;
  height: auto;
}
.recipes {
  box-shadow: 0 10px 30px rgba(0,0,0,.2);
  padding: 50px;
}

.liquor {
  color: lightslategray;
}
.mixer {
  color: linen;
}
.juice {
  color: lightsalmon;
}
.garnish {
  color: rgb(155, 238, 187);
}
.spices {
  color: lightcoral;
}
.sweetener {
  color: lightgoldenrodyellow;
}
.ice {
  color: rgba(176, 196, 222, 0.418);
}


